.header-section{
    height: 100vh;
    background-image: url("/assets/backgrounds/h_img.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    text-align: center;
    color: #fff;
    border: 2px solid red;
    padding-top: 200px;
}
.landing-text{
    text-transform: uppercase;
}
.header-text{
    padding-top: 25px;
    font-size: 2em;
}
.span-text{
    font-size: 12px;
}
.mouse-click{
    padding-top: 100px;
}
.about-us, .services-section,.what-we-do-section, .portofolio-section, .contact-us{
    text-align: center;
}
.design-text,.dev-text,.product-text{
    display: none;
}
.work1 > img{
    width: 100%; 
    height: 100%;
}
.work2 > img{
    width: 100%; 
    height: 100%;
}
.work3 > img{
    width: 100%; 
    height: 100%;
}
.work4 > img{
    width: 100%; 
    height: 100%;
}
.work5 > img {
    width: 100%; 
    height: 100%;
}
.work6 > img{
    width: 100%; 
    height: 100%;
}
.work7 > img{
    width: 100%; 
    height: 100%;
}
.work8 > img{
    width: 100%; 
    height: 100%;
}
.footer-section{
    text-align: center;
}
.social-icons{
    display: flex;
    flex-direction: row;
    justify-content: center;
}