.header-section{
    height: 100vh;
    background-image: url("/assets/backgrounds/h_img.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    text-align: center;
    color: #fff;
    padding-top: 200px;
}
.landing-text{
    text-transform: uppercase;
}
.header-text{
    padding-top: 25px;
    font-size: 2em;
}
.span-text{
    font-size: 12px;
}
.mouse-click{
    padding-top: 100px;
}
.about-us, .services-section,.what-we-do-section, .portofolio-section, .contact-us{
    text-align: center;
}
.about-us{
    height: 50vh;
    padding-top: 50px;
}
.services-section{
    height: 50vh;
    background-image: url('/assets/backgrounds/s_image.jpg');
    color: #fff;
    padding-top: 75px;
}
.design-text,.dev-text,.product-text{
    display: none;
}
.work1 > img{
    width: 100%; 
    height: 100%;
}
.work2 > img{
    width: 100%; 
    height: 100%;
}
.work3 > img{
    width: 100%; 
    height: 100%;
}
.work4 > img{
    width: 100%; 
    height: 100%;
}
.work5 > img {
    width: 100%; 
    height: 100%;
}
.work6 > img{
    width: 100%; 
    height: 100%;
}
.work7 > img{
    width: 100%; 
    height: 100%;
}
.work8 > img{
    width: 100%; 
    height: 100%;
}
.contact-us{
    color: #fff;
    height: 100vh;
    background-image: url('/assets/backgrounds/c_image.jpg');
    background-position: center;
    background-size: cover;
    padding-top: 50px;
}
form{
    padding-top: 30px;
}
form > div > input{
    border: 2px solid #fff;
    width: 70%;
    background: none;
    color: #fff;
}
form > div > input::placeholder{
    color: #fff;
}
form > div > textarea{
    border: 2px solid #fff;
    height: 40vh;
    width: 60vw;
    margin-left: 30px;
    background: none;
    color: #fff;
}
form > div > textarea::placeholder{
    color: #fff;
}
.footer-section{
    text-align: center;
}
.social-icons{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}