.about-us, .services-section,.what-we-do-section, .portofolio-section, .contact-us{
    text-align: center;
}
/* .services-section{
    text-align: center;
}
.what-we-do-section{
    text-align: center;
} */
.design-text,.dev-text,.product-text{
    display: none;
}
.work1 > img{
    width: 100%; 
    height: 100%;
}
.work2 > img{
    width: 100%; 
    height: 100%;
}
.work3 > img{
    width: 100%; 
    height: 100%;
}
.work4 > img{
    width: 100%; 
    height: 100%;
}
.work5 > img {
    width: 100%; 
    height: 100%;
}
.work6 > img{
    width: 100%; 
    height: 100%;
}
.work7 > img{
    width: 100%; 
    height: 100%;
}
.work8 > img{
    width: 100%; 
    height: 100%;
}